.root{
    -fx-font-size: 16pt;
    -fx-font-family: "Courier New";
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);
}

.button{
    -fx-text-fill: rgb(49, 89, 23);
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}

.button-green{
    -fx-text-fill: rgb(49, 89, 23);
    -fx-border-color: rgb(49, 89, 23);
    -fx-background-color: rgb(102, 255, 51);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}

.button-red{
    -fx-text-fill: rgb(49, 89, 23);
    -fx-border-color: rgb(49, 89, 23);
    -fx-background-color: rgb(255, 102, 102);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}

.button-orange{
    -fx-text-fill: rgb(0, 0, 0);
    -fx-border-color: rgb(49, 89, 23);
    -fx-background-color: rgb(255, 153, 0);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}

.borders{
    -fx-border-color: rgb(103, 100, 78);
    -fx-border-style: dotted;
    -fx-border-width: 1.5;
    -fx-border-insets: -5;
}

.borders-red{
    -fx-border-color: red;
    -fx-border-style: dotted;
    -fx-border-width: 1.5;
    -fx-border-insets: -5;
}

.label-title {
    -fx-font-size: 16pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: steelblue;
    -fx-opacity: 1;
}

.label-subtitle {
    -fx-font-size: 13pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: steelblue;
    -fx-opacity: 1;
}

.label-subtitle-black {
    -fx-font-size: 13pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-big-black {
    -fx-font-size: 18pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-ord {
    -fx-font-size: 9pt;
    -fx-font-family: "Verdana";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-ord-bold {
    -fx-font-size: 9pt;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-gray-bold {
    -fx-font-size: 9pt;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-text-fill: gray;
    -fx-opacity: 1;
}

.cell-spacer {
    -fx-background-color: blue;
}

.cell-selected {
    -fx-background-color: palegreen;
}

.label-green {
    -fx-text-fill: white;
    -fx-border-color: rgb(49, 89, 23);
    -fx-background-color: green;
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}

.label-green-txt {
    -fx-text-fill: green;
    -fx-font-weight: bold;
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-opacity: 1;
}
.label-red-txt {
    -fx-text-fill: red;
    -fx-font-weight: bold;
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-opacity: 1;
}

.label-red {
    -fx-text-fill: white;
    -fx-border-color: rgb(49, 89, 23);
    -fx-background-color: red;
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}

.vbox-black{
    -fx-border-color: black;
    -fx-border-radius: 2 2 2 2;
}

.vbox-red{
    -fx-border-color: red;
    -fx-border-radius: 2 2 2 2;
    -fx-background-color: red;
}

.vbox-green{
    -fx-border-color: green;
    -fx-border-radius: 2 2 2 2;
    -fx-background-color: green;
}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke: #e9967a; }